
// On-premise login user password
// This password will be stored on the Azure Keyvault
on-premise-password = "dummy@123"

// DB user name of the audit database
db_username = "sqladminuser"

// DB password of the audit database
db_password = "studygroup@123"

// Connection string to the sample tickit sale database
clouddbconn_connection_string = "Server=tcp:ntdatateam-azuredb-dev.database.windows.net,1433;Initial Catalog=tickit;Persist Security Info=False;User ID=sqladminuser;Password=studygroup@123;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"


// DB username of the builtin synapse database
sql_administrator_login = "sqladminuser"

// DB password of the builtin synapse database
sql_administrator_login_password = "studygroup@123"


